.contactsection-wrapper {
    display: flex;
    gap: 5rem;
    margin-top: 4rem;
    justify-content: space-between;
    position: relative;
}

.contactsection-wrapper::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 50%;
    background-color: #DAD7CD;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.left {
    width: 100%;
    max-width: 500px;
}

.right {
    width: 100%;
    max-width: 500px;
}

@media only screen and (max-width: 768px)  {
    .contactsection-wrapper {
        flex-direction: column;
        margin-top: 2rem;
    }
    .contactsection-wrapper::after {
        display: none;
    }

    .left,
    .right {
        max-width: 100%;
    }
}

@media only screen and (max-width: 975px) {
    .contactsection-wrapper::after {
        display: none;
    }
}