@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
}

:route {
    --bg:#588157;
    --gray: #DAD7CD;
    --deep-dark: #344E41;
    --green-2: #3A5A40;
    --white: white;
    --black: black;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
}

img, svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}