@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --color1: #fff;
    --color2: #0554F2;
    --color3: #056CF2;
    --color4: #26A653;
    --color5: #F2EA7E;
    --color6: #F2F2F2;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

p {
    font-size: 100%;
}

/* Navgation bar */

nav {
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color6);
    padding: 1rem 0;
}

.nav-links {
    display: flex;
}

.nav-links li a {
    padding: 0 1.5rem;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    line-height: 25px;
}

.nav-links li a:hover {
    background-color: lightgray;
    border-radius: 25px;
}

/* Name section */

.title {
    width: auto;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
}


.name {
    width: 30%;
    height: 100px;
    position: relative;
    left: 200px;
    top: 170px;
}

/* About section */

.about {
    width: auto;
    height: 30rem;
    text-align: center;
}

/* work section */

.work {
    width: auto;
    height: 30rem;
    text-align: center;
}

.coming-soon {
    border-radius: 15px;
    width: 300px;
    border: 2px solid black;
    margin-top: 3rem;
}

/* contact section */

.contact {
    width: auto;
    height: 30rem;
}

.contact-title {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.contact-card {
    width: 200px;
    height: 300px;
    background-color: var(--color6);
    border-radius: 50px;
    text-align: center;
    margin: 0 4rem;
}

.contact-card img {
    padding: 4rem 0;
    width: 100px;
    height: 100px;
}

.contact p {
    line-height: 25px;
    padding: 1.5rem 0;
}

/* footer */

footer {
    text-align: center;
    background-color: var(--color6);
}

footer img, 
footer p {
    padding: 1rem 0;
}









