@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navagtion bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.25em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 15em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    border-radius: 1em;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0.75em 1em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #bababa;
    border-radius: 1em;
}

.dropdown-content a i {
    padding: 1em;
    border-radius: 50%;
    background-color: lightgray;
}

.dropdown-tags {
    padding-left: .8em;
}

.show {
    display: block;
}


.dropbtn {
    padding: 1.75em;
    background-color: lightgray;
    border-radius: 1em;
    border:none
}

.dropbtn:hover {
    background-color: #bababa;
}

.dropbtn:focus {
    background-color: #DAF7A6;
}

.personal-icon:hover {
    filter: brightness(90%);
}

/* Header section */

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.special-font {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    padding: .25em 0;
}

.blink{
    animation: blinker 1s ease infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.box-1 {
    padding: 2.5em 2em;
    height: 50%;
}

/* Media Queries */

@media only screen and (max-width: 480px) {
    .dropbtn {
        padding: 2em;
    }

    nav{
        justify-content: space-between;
    }
}

