@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navagtion bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25em;
}

.nav-dropdown {
    padding: 1em;
    background-color: lightgray;
    border-radius: .50em;
}

.nav-dropdown:hover {
    background-color: #bababa;
}

.personal-icon:hover {
    filter: brightness(90%);
}

/* Main section */

.special-font {
    font-family: 'Orbitron', sans-serif;
    padding: .25em 0;
}

.box-1 {
    padding: 1em;
}